div {
    color: white;
}

.Videos {
    display: flex;
}

span {
    color: rgb(99, 99, 99);
}
.title-span {
    color: white;
}

.video {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.video:hover {
    cursor: pointer;
}

.thumbnail {
    width: 400px;
    border-radius: 20px;
}

.video-pfp-icon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.video-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.video-data {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}