div {
    color: white;
}

.Videos {
    display: flex;
}

.video {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.video:hover {
    cursor: pointer;
}

.thumbnail {
    width: 400px;
    border-radius: 20px;
}

.video-pfp-icon {
    width: 50px;
}

.video-desc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.video-data {
    display: flex;
    flex-direction: row;
}